.bg_img {
  width: 100%;
  min-height: 100vh;
  background: url(assets/bg.jpeg) no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  overflow-x: hidden;
}
.input {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.25rem;
}

.box_container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.city {
  margin-top: 2rem;
}

.city,
.temp {
  font-size: 3rem;
}

.box {
  width: 400px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 730px) {
  .bg_img {
    padding: 2rem 0;
  }

  .box_container {
    flex-direction: column;
  }
  .box,
  .input {
    width: 70vw;
  }

  .city {
    width: 70vw;
  }
}
